body {
    font-family: Arial, sans-serif;
      background: linear-gradient(to bottom, #ccfff2, #a8e6cf);
    margin: 0;
    padding: 0;
}


.navbar {
    background: linear-gradient(to left, #539d96, #cdffd8);
    width: 100%;
    height: 160px;
    margin: 0%;
}
h1 {
    margin-top: 0%;
    text-align: center;
    padding-top: 20px;
    margin-bottom: 50px;
}

ul {
    list-style-type: none;
    padding: 0;
    text-align: center;
    margin-top: -30px;
}
li {
    display: inline;
    margin: 50px 35px 10px;
}

li a {
    text-decoration: none;
      padding: 5px 15px;
}
li a:hover {
    text-decoration: underline;
    background-color: aqua;
  
}
.card {
  border: 5px solid #ccc;
    border-radius: 10px;
    width: 500px; 
    height: fit-content;
    display: inline-block;
    margin: 20px 10px;
}
.card img {
    width: 100%;
    border-bottom: 5px solid #ccc;
    border-radius: 10px 10px 0 0;
}
.card h3 {
    text-align: center;
    margin: 10px 0;
}
.card p {
    padding: 0 15px 15px;
    text-align: center;
}
.card a {
    color: white;
    background-color: rgb(10,102,194);
    padding: 10px 20px;
   border-radius: 8px;
    font-size: large;
    font-weight: bold;
    display: block;
    width: fit-content;
    margin: 0 auto 15px;
    text-align: center;
    text-decoration: none;
}
.card a:hover {
    /* text-decoration: underline; */
}
.wrap {
    width: 90vw;
    margin: 0 auto;
}
